@model Sample_Voucher_Entry.EDMX.tblVoucherMaster

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Voucher_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Voucher_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier_Id, "Supplier_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Supplier_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Supplier_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <br />
        <br />
        <div id="TextBoxContainer" style="padding-left:120px;">
            <!--Textboxes will be added here -->

            <input type="text" placeholder="Account No" name="DynamicTextBox" id="DynamicTextBox" required />
            <input type="text" placeholder="Debit Amount" name="DynamicTextBox" required />
            <input type="text" placeholder="Credit Amount" name="DynamicTextBox" required/>
        </div>

        <input id="btnAdd" type="button" class="btn btn-default" value="Add Row" style="margin-left:567px;" onclick="AddTextBox()" />

        <br />
        <br />
        <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" style="margin-left:100px" class="btn btn-default btn-lg" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-2.2.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>

<script type="text/javascript">
        function GetDynamicTextBox(value) {
            var div = $("<div />");

            var textBox = $("<input />").attr("type", "textbox").attr("name", "DynamicTextBox").attr("placeholder", "Account No").attr("id","DynamicTextBox").attr("class","autocomplete").prop("required",true);
            textBox.val(value);
            div.append(textBox);

            var textBox = $("<input />").attr("type", "textbox").attr("name", "DynamicTextBox").attr("placeholder", "Debit Amount");
            textBox.val(value);
            div.append(textBox);

            var textBox = $("<input />").attr("type", "textbox").attr("name", "DynamicTextBox").attr("placeholder", "Credit Amount");
            textBox.val(value);
            div.append(textBox);

            var button = $("<input />").attr("type", "button").attr("value", "Remove Row").attr("class", "btn btn-default");
            button.attr("onclick", "RemoveTextBox(this)");
            div.append(button);

            return div;
        }
        function AddTextBox() {
            var div = GetDynamicTextBox("");
            $("#TextBoxContainer").append(div);

            $(".autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetVisitCustomer", "AddVoucher")',
                        type: "POST",
                        dataType: "json",
                        data: {
                            keyword: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Name,
                                    value: item.Name
                                };
                            }))
                        },
                        error: function () {
                            alert('something went wrong !');
                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: ""
                }
            });
        }

        function RemoveTextBox(button) {
            $(button).parent().remove();
        }

    $(document).ready(function () {

        $("#DynamicTextBox").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetVisitCustomer", "AddVoucher")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        keyword: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Name
                            };
                        }))
                    },
                    error: function () {
                        alert('something went wrong !');
                    }
                })
            },
            messages: {
                noResults: "",
                results: ""
            }
        });
    });
</script>
